<h1>Tufts University</h1>

<h2>Portoflio</h2>
 
<table>
  <tr>
    <th>Fund</th>
    <th>Commitment</th>
    <th>Paid-In</th>
    <th>Distributed</th>
    <th>Net Asset Value</th>
  </tr>
 
  <% @portfolios.each do |portfolio| %>
    <tr>
      <td><%= portfolio.fund %></td>
      <td><%= portfolio.commitment %></td>
      <td><%= portfolio.paid_in %></td>
      <td><%= portfolio.distributed %></td>
      <td><%= portfolio.net_asset_value %></td>
    </tr>
  <% end %>
</table>
