<h1>Tufts University</h1>

<h2>Portfolio</h2>

<%= link_to 'Add Investment', new_portfolio_path %>
 
<table>
  <tr>
    <th>Fund</th>
    <th>Commitment</th>
    <th>Paid-In</th>
    <th>Distributed</th>
    <th>Net Asset Value</th>
  </tr>
 
  <% @portfolios.each do |portfolio| %>
    <tr>
      <td><%= portfolio.fund %></td>
      <td><%= portfolio.commitment %></td>
      <td><%= portfolio.paid_in %></td>
      <td><%= portfolio.distributed %></td>
      <td><%= portfolio.net_asset_value %></td>
      <td><%= link_to 'Show', portfolio %></td>
      <td><%= link_to 'Edit', edit_portfolio_path(portfolio) %></td>
      <td><%= link_to 'Delete', portfolio_path(portfolio), method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>
</table>
