<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>AltDash | Home</title>
  </head>
  <body>
    <h1>Alternative Investments Dashboard</h1>
    <div class="container">
      <div id="user_nav">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path %> | 
          <%= link_to 'Login', new_user_session_path %>
        <% end %>
      </div> <!-- for user_nav -->
        <div align="center">
            <%= image_tag "IMG_20131209_113723.JPG", :style=>"padding-top: 20px;" %>
        </div>
    </div> <!-- for container -->
    <footer>

    </footer>
  </body>
</html>
