<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>AltDash | Home</title>
  </head>
  <body>
    <h1>Welcome to your Alternative Investments Dashboard</h1>
    <p>
    	Please <%= link_to 'login' %> or <%= link_to 'sign up' %>
    </p>

    <footer>
    	<%= link_to 'home' %> 
    	<%= link_to 'about' %>
    	<%= link_to 'contact us' %>
    </footer>
  </body>
</html>
