<section>
	<h4> <%= @company.name %> </h4>
	<p> <strong> Phone Number: </strong> <%= @company.phone_number %> </p>
	<p> <strong> Twitter Username: </strong> <%= @company.twitter_username %> </p>
	<p> <a href=<%= @company.homepage_url %> > <%= @company.homepage_url %> </a> </p>
	<p> <% @company.permalink %> </p>
	<p> <strong> Founded: </strong> <%= @company.founded_year %> </p>
	<p> <strong> Funds Raised: </strong> <%= @company.total_money_raised %> </p>
<!-- 	<p> Funding Rounds: <%= @company.funding_rounds %> </p> -->
	<p> <strong> Category: </strong><%= @company.category_code.upcase %> </p>
<!-- 	<p> Offices: <%= @company.offices %> </p> -->
	<p> <strong>Number of Employees: </strong> <%= @company.number_of_employees %> </p>
	<p> <%= raw @company.overview %> </p>
</section>