<section>
	<h4> <%= @company.name %> </h4>
	<p> Phone Number: <%= @company.phone_number %> </p>
	<p> Twitter Username: <%= @company.twitter_username %> </p>
	<p> <%= @company.homepage_url %> </p>
	<p> <%= @company.permalink %> </p>
	<p> Founded: <%= @company.founded_year %> </p>
	<p> Funds Raised: <%= @company.total_money_raised %> </p>
<!-- 	<p> Funding Rounds: <%= @company.funding_rounds %> </p> -->
	<p> Category: <%= @company.category_code %> </p>
<!-- 	<p> Offices: <%= @company.offices %> </p> -->
	<p> Number of Employees: <%= @company.number_of_employees %> </p>
	<p> <%= raw @company.overview %> </p>
</section>
