<section>
	<h4> <%= @investor.name %> </h4>
	<p> <strong>Founded: </strong><%= @investor.founded_year %> </p>
	<p> <strong> Phone Number: </strong><%= @investor.phone_number %> </p>
	<p> <a href=<%= @investor.homepage_url %> > <%= @investor.homepage_url %> </a> </p>
	<p> <%= raw @investor.overview %> </p>
	<p><strong> Funds Raised: </strong></p>
	<p> <%= @investor.funds.to_ary[0]["name"] %> : <%= @investor.funds.to_ary[0]["raised_amount"] %> </p>
</section>