<section>
	<h4> <%= @investor.name %> </h4>
	<p> <%= @investor.founded_year %> </p>
	<p> Phone Number: <%= @investor.phone_number %> </p>
	<p> <%= @investor.homepage_url %> </p>
	<p> <%= raw @investor.overview %> </p>
	<p> <%= @investor.investments %> </p>
	<p> <%= @investor.relationships %> </p>
</section>