<!DOCTYPE html>
<html>
<head>
  <title>AltDash | Co <%= yield(:title) %> </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-inner">
		<div class="container">
		    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse-1">
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
		    </a>
		    <a class="brand" href="">AltDash</a>
		    <div class="nav-collapse">
		    	<ul class="nav">
		    		<li><%= link_to 'About Us', splash_about_path %></li>
		    		<li><%= link_to 'Contact', splash_contact_path %></li>
		    		<li><%= link_to 'Portfolio', investments_path %></li>
		    		<li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
		    	</ul>
		    </div>
 		</div>
 	</div>
</div>

<div class="container">
	<div class="row">
		<div class="span9"><%= yield %></div>
		<div class="span3">
			<br>
			<select id="search">
				<option value="company">Company</option>
				<option value="people">People</option>
				<option value="investors">Investors</option>
			</select>
			<% search = "companies" %>
			<h4> Search Database </h4>

			<%= form_tag "/#{search}", method: "GET" do %>
			  <%= text_field_tag :q, params[:q] %>
			  <%= submit_tag "search" %>
			<% end %>
		</div>	
	</div>
	
</div>
</body>
</html>
